/*Comandos sem classe*/

:root {
    --cor-dourado: #FFD700;
    /* Código hexadecimal para dourado */
    --cor-preto: #000000;
    /* Código hexadecimal para preto */
    --cor-branco: #FFFFFF;
    /* Código hexadecimal para branco */
    --cor-preto-claro: #1f1f1f;
}

@font-face {
    font-family: 'Sans-Italic';
    src: url('./../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Sans-Variable';
    src: url(./../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {box-sizing:border-box}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--cor-preto);
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 80px;
    overflow-x: hidden;
}


a {
    color: white;
    text-decoration: none;
}

a i {
    font-size: 20px;
}

li {
    list-style-type: none;
}

/*Classificados*/

/* Tela de cadastro */

.cadastro-button {
    border-radius: 4px;
    background: #FFEA00;
}

.cadastro-title {
    justify-content: center;
    display: flex;
}

.cadastro-links {
    font-size: medium;
    align-items: center;
    color: #3DB4FF;
    margin: auto;
    display: inherit;
    flex-direction: inherit;
    padding: 5px;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.6rem;
    border-radius: 10px;
    border: 2px solid #000;
    background: rgba(0, 0, 0, 0.50);
    margin: 20px;
    padding: 70px;
    width: 100%;
    max-width: 60vh;
    /* Limitar a largura do formulário */
}

.cadastro-decoration {
    display: flex;
    width: 800px;
    justify-content: center;
    border: 1px solid #FFEA00;
    background: rgba(91, 91, 91, 0.50);
}

/* ISA NÃO RETIRA ISSO QUE BLOQUEIA AS SETAS DOS INPUTS DE NUMERO*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
