/*Comandos sem classe*/

:root {
    --cor-dourado: #FFD700;
    /* Código hexadecimal para dourado */
    --cor-preto: #000000;
    /* Código hexadecimal para preto */
    --cor-branco: #FFFFFF;
    /* Código hexadecimal para branco */
    --cor-preto-claro: #1f1f1f;
}

@font-face {
    font-family: 'Sans-Italic';
    src: url('./../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Sans-Variable';
    src: url(./../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {box-sizing:border-box}


a {
    color: white;
    text-decoration: none;
}

a i {
    font-size: 20px;
}

li {
    list-style-type: none;
}

/*Classificados*/

/* index */

#facebook-icon {
    color: var(--cor-dourado);
    font-size: 2.0vw;
    transition: all 0.2s ease; /* Para uma transição suave */
}

#instagram-icon {
    color: var(--cor-dourado);
    font-size: 2.0vw;
    transition: all 0.2s ease; /* Para uma transição suave */
}

#twitter-icon {
    color: var(--cor-dourado);
    font-size: 2.0vw;
    transition: all 0.2s ease; /* Para uma transição suave */
}

#facebook-icon:hover {
    color: var(--cor-branco);
    font-size: 2.0vw;
    transform: scale(1.2);
}

#instagram-icon:hover {
    color: var(--cor-branco);
    font-size: 2.0vw;
    transform: scale(1.2);
}

#twitter-icon:hover {
    color: var(--cor-branco);
    font-size: 2.0vw;
    transform: scale(1.2);

}



.redes-sociais {
    padding-right: 70px;
}

footer {
    display: flex;
    background-color: var(--cor-preto-claro);
    color: var(--cor-branco);
    padding: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
    min-width: 340px;
}

.footer-institucional {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logotipo_footer {
    width: 100%;
}

.logotipo-footer img {
    background-color: var(--cor-preto-claro);
    color: var(--cor-branco);
    padding: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    width: 90%;
}

.footer-left,
.footer-right {
    margin-bottom: 20px;
    text-align: start;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    align-items: center;
}

.footer-left h4 {
    font-size: 1.8vw;
    width: 100%;
}

.footer-right {
    width: 70%;
    display: flex;
    gap: 64px;
}

.contato-endereco {
    padding-top: 5px;
    font-size: 1.2vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endereco-loja {
    padding-left: 55px;
}

 iframe{
    width: 200px;
    height: 200px;
    position: relative;
    top: 40px;
    transition: all 0.3s ease; /* Para uma transição suave */
}

iframe:hover {
    transform:scale(1.2);
}
/* Ajuste de Responsividade */

/* Garante que o layout de conteúdo seja em coluna em telas menores */
@media (max-width: 873px) {

    .footer-institucional {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

   .footer-left, .footer-right {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-left h4 {
        font-size: 1.4rem;
    }

    .footer-right {
        gap:0px;
    }

    .redes-sociais {
        padding-right: 0px;
    }

    .redes-sociais a {
        font-size: 1.5vw;
        margin: 0 10px;
    }

    .endereco-loja {
        padding-left: 0px;
    }

    .endereco a {
        font-size: 1rem;
    }

    .contato-endereco {
        font-size: 3.0vw;
        padding: 20px;
        width: 80%;
    }

    #facebook-icon {
        color: var(--cor-dourado);
        font-size: 4.0vw;
        transition: all 0.2s ease; /* Para uma transição suave */
    }
    
    #instagram-icon {
        color: var(--cor-dourado);
        font-size: 4.0vw;
        transition: all 0.2s ease; /* Para uma transição suave */
    }
    
    #twitter-icon {
        color: var(--cor-dourado);
        font-size: 4.0vw;
        transition: all 0.2s ease; /* Para uma transição suave */
    }
    
    #facebook-icon:hover {
        color: var(--cor-branco);
        transform: scale(1.4);
        font-size: 5.0vw;
    }
    
    #instagram-icon:hover {
        color: var(--cor-branco);
        transform: scale(1.4);
        font-size: 5.0vw;
    }
    
    #twitter-icon:hover {
        color: var(--cor-branco);
        transform: scale(1.4);
        font-size: 5.0vw;
    }

    .numero-telefone{
        font-size: 2.5vw;
    }

    .endereco-loja{
        font-size: 2.5vw;
    }


    iframe{
        width: 180px;
        height: 180px;
        position: relative;
        top: 40px;
        transition: all 0.3s ease; /* Para uma transição suave */
    }

    iframe:hover {
        transform:scale(1.1);
    }
}

/* Para telas extremamente pequenas (como smartphones muito compactos, até 320px) */
@media (max-width: 340px) {

    .footer-institucional {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .footer-left, .footer-right {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-left h4 {
        font-size: 5.0vw;
        width: 100%;
    }

    .redes-sociais a {
        font-size: 1.2rem;
        padding-right: 0px;
    }
}