/*Comandos sem classe*/

:root {
    --cor-dourado: #FFD700;
    /* Código hexadecimal para dourado */
    --cor-preto: #000000;
    /* Código hexadecimal para preto */
    --cor-branco: #FFFFFF;
    /* Código hexadecimal para branco */
    --cor-preto-claro: #1f1f1f;
}

@font-face {
    font-family: 'Sans-Italic';
    src: url('./../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Sans-Variable';
    src: url(./../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {box-sizing:border-box}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--cor-preto);
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 80px;
    padding-top: 250px; /* Igual à altura do header */
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

a i {
    font-size: 20px;
}

li {
    list-style-type: none;
}

/*Classificados*/


/* index */
 @media screen {

 }

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.slideshow-container {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: var(--cor-preto-claro);
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

/* Hide all images by default */
.mySlides {
    display: none;
}

.SlideProduto {
    width: 100%;
    border-radius: 20px;
    position: relative;
}

/* Dots/circles at the bottom */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Change color of dots on hover */
.dot:hover {
    background-color: #717171;
}

/* Active dot (current slide) */
.active {
    background-color: #717171;
}
.banner {
    position: relative;
    min-width: 95%;
    box-sizing: border-box;
    padding: 40px 20px;
    background-color: var(--cor-preto-claro);
    /* Cor de fundo do banner */
    color: var(--cor-branco);
}   

.banner img {
    width: 95%;
    position: relative;
    left: 40px;
}

.destaques {
    background-color: var(--cor-preto-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: var(--cor-branco);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    gap: 32px;
    border: 2px solid var(--cor-dourado);
}

body {font-family: Verdana, sans-serif;}
img {vertical-align: middle;}  /*perguntar depois p o gustavo*/


/* Next & previous buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px; /* Center the arrows vertically */
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    text-decoration: none;
}

/* Position the "prev" arrow to the left */
.prev {
    left: -50px; /* Position the "prev" arrow outside the image */
}

/* Position the "next" arrow to the right */
.next {
    right: -50px; /* Position the "next" arrow outside the image */
}

/* On hover, show the arrows more clearly */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.destaque-titulo {
    color: var(--cor-branco);
    font-family: 'Sans-Variable';

}

.destaques-bebidas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.destaques-alcoolicas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.destaques-snacks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.destaques-cigarros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.destaques-bebidas ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.destaques-alcoolicas ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.destaques-snacks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.destaques-cigarros ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.card-produto {
    width: 200px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.card-produto img {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    background-color: var(--cor-preto-claro);
    color: var(--cor-branco);
    padding: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
}

/* Ajuste de Responsividade */

/* Garante que o layout de conteúdo seja em coluna em telas menores */
@media (max-width: 873px) {
    .container {
        padding: 20px;
    }

}

/* Para telas ainda menores (dispositivos com até 650px de largura) */
@media (max-width: 650px) {

   
}

/* Para telas extremamente pequenas (como smartphones muito compactos, até 320px) */
@media (max-width: 320px) {
   
   
}
