/* Comandos sem classe */

:root {
    --cor-dourado: #FFD700;
    --cor-preto: #000000;
    --cor-branco: #FFFFFF;
    --cor-preto-claro: #1f1f1f;
}

@font-face {
    font-family: 'Sans-Italic';
    src: url('./../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: 'Sans-Variable';
    src: url('./../fonts/OpenSans-VariableFont_wdth,wght.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: var(--cor-preto);
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 80px;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

a i {
    font-size: 20px;
}

li {
    list-style-type: none;
}

/* Classificados */

/* Tela de Login */

.login-button {
    border-radius: 4px;
    background: #FFEA00;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.login-title {
    justify-content: center;
    display: flex;
    font-size: 3vw;
}

.login-links {
    font-size: medium;
    align-items: center;
    color: #3DB4FF;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.6rem;
    border-radius: 10px;
    border: 2px solid #000;
    background: rgba(0, 0, 0, 0.50);
    margin: 20px;
    padding: 70px;
    width: 100%;
    max-width: 400px;
}

.login-decoration {
    display: flex;
    width: 50%;
    height: 100vh;
    padding: 242px 95px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFEA00;
    background: rgba(91, 91, 91, 0.50);
}

/* Estilo para a mensagem de erro */
.error-message {
    color: #ff0000;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    display: block; /* Agora ficará visível quando a variável de erro for preenchida */
}


/* Responsividade */

@media (max-width: 1024px) {
    .login-title {
        font-size: 4vw;
    }
    .login-decoration {
        width: 100%;
        height: auto;
        padding: 100px 50px;
    }
    .form-login {
        max-width: 80%;
        gap: 64px;
    }
}

@media (max-width: 768px) {
    .form-login {
        padding: 40px;
        max-width: 90%;
    }
    .login-title {
        font-size: 5vw;
    }
    .login-decoration {
        padding: 50px 30px;
    }
}

@media (max-width: 480px) {
    .form-login {
        padding: 30px;
        gap: 20px;
        max-width: 100%;
    }
    .login-title {
        font-size: 6vw;
    }
    .login-decoration {
        padding: 30px 15px;
        width: 100%;
    }
}
