/*Comandos sem classe*/

:root {
    --cor-dourado: #FFD700;
    /* Código hexadecimal para dourado */
    --cor-preto: #000000;
    /* Código hexadecimal para preto */
    --cor-branco: #FFFFFF;
    /* Código hexadecimal para branco */
    --cor-preto-claro: #1f1f1f;
}

@font-face {
    font-family: 'Sans-Italic';
    src: url('./../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Sans-Variable';
    src: url(./../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {box-sizing:border-box}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--cor-preto);
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 80px;
    padding-top: 250px; /* Igual à altura do header */
    overflow-x: hidden;
}



header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    justify-content: space-around;
    width: 100%;
    height: 250px; /* Altura fixa do header */
    border-bottom: 2px solid var(--cor-dourado);
    padding: 0 40px; /* Ajuste o padding conforme necessário */
    background-color: var(--cor-preto); /* Adicione uma cor de fundo para evitar transparência */
}


a {
    color: white;
    text-decoration: none;
}

a i {
    font-size: 20px;
}

li {
    list-style-type: none;
}

/*Classificados*/

/*Tela de Login*/
.login-container {
    align-items: flex-start;
    background-image: url(../img/Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
    overflow-y: hidden;
    width: 100%;
}

.institucional {
    position: fixed; /* Fixa o header no topo */
    top: 0;
    width: 100%; /* Largura total */
    height: 250px; /* Altura do header */
    background-color: var(--cor-preto); /* Cor de fundo */
    border-bottom: 2px solid var(--cor-dourado); /* Borda inferior */
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
}


.login-button {
    border-radius: 4px;
    background: #FFEA00;
}

.login-title {
    justify-content: center;
    display: flex;
}

.login-links {
    font-size: medium;
    align-items: center;
    color: #3DB4FF;
    margin: auto;
    display: inherit;
    flex-direction: inherit;
    padding: 5px;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.6rem;
    border-radius: 10px;
    border: 2px solid #000;
    background: rgba(0, 0, 0, 0.50);
    margin: 20px;
    padding: 70px;
    width: 100%;
    max-width: 400px;
    /* Limitar a largura do formulário */
}

.login-decoration {
    display: flex;
    width: 800px;
    height: 1024px;
    padding: 242px 95px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFEA00;
    background: rgba(91, 91, 91, 0.50);
}


/* Tela de cadastro */

.cadastro-container {
    align-items: flex-start;
    background-image: url(../img/Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
    overflow-y: hidden;
    width: 100%;
}

.cadastro-button {
    border-radius: 4px;
    background: #FFEA00;
}

.cadastro-title {
    justify-content: center;
    display: flex;
}

.cadastro-links {
    font-size: medium;
    align-items: center;
    color: #3DB4FF;
    margin: auto;
    display: inherit;
    flex-direction: inherit;
    padding: 5px;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.6rem;
    border-radius: 10px;
    border: 2px solid #000;
    background: rgba(0, 0, 0, 0.50);
    margin: 20px;
    padding: 70px;
    width: 100%;
    max-width: 400px;
    /* Limitar a largura do formulário */
}

.cadastro-decoration {
    display: flex;
    width: 800px;
    height: 1024px;
    padding: 242px 95px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFEA00;
    background: rgba(91, 91, 91, 0.50);
}
.icone-mobile {
    font-size: 2.0rem;
    background-color: #00000000;
    color: var(--cor-dourado);
    border: none;
    display: none;
}

.logotipo {
    transition: all 0.3s ease; /* Para uma transição suave */
}

.logotipo img {
    height: 200px; /* Ajuste a altura do logotipo conforme necessário */
    width: auto; /* Mantém a proporção do logotipo */ 
}

.logotipo:hover {
    transform:scale(1.2);
}

.home {
    display: none;
}

.logotipo-mobile {
    display: none;
    height: 200px; /* Ajuste a altura do logotipo conforme necessário */
    width: auto; /* Mantém a proporção do logotipo */

}


.search-bar-mobile {
    display: none;
}

.search-bar {
    display: flex; /* Utiliza flexbox para alinhar os itens */
    align-items: center; /* Alinha verticalmente os itens ao centro */
    background-color: var(--cor-branco);
    border-radius: 20px;
    padding: 10px;
}

.search-placeholder {
    padding: 10px; /* Adiciona espaçamento interno */
    border: none; /* Define a borda */
    border-radius: 4px 0 0 4px; /* Bordas arredondadas */
    flex: 1; /* Faz o input ocupar o máximo de espaço disponível */
    outline: none; /* Remove a borda de foco padrão */
    font-size: 2.0vw;
}

.botao-enviar {
    background-color: var(--cor-branco); /* Cor de fundo do botão */
    border: none;
    border-radius: 0 4px 4px 0; /* Bordas arredondadas */
    padding: 10px; /* Adiciona espaçamento interno */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    font-size: 1.5vw;
    transition: all 0.3s ease; /* Para uma transição suave */
}

.botao-enviar i {
    font-size: 1.2em; /* Ajusta o tamanho do ícone */
}


.botao-enviar:hover {
    color: var(--cor-dourado);
    transform: scale(1.2);
}

.perfil-link,
.link-carrinho {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--cor-dourado);
    gap: 10px;
    height: 100%; /* Mantém os itens alinhados verticalmente */
    padding-top: 20px; /* Remova este padding se não precisar */
}

.link-carrinho-mobile {
   display: none;
}

.perfil-modal {
    color: black;
}

.perfil-btn {
    display: flex;
    background-color: #000000;
    border: none;
    color: var(--cor-branco);
    align-items: center;
    font-size: 1.8vw;
    width: 100%;
    transition: all 0.3s ease; /* Para uma transição suave */
}

.perfil-btn:hover {
    transform: scale(1.2); /* Aumenta a div ao passar o mouse */
    color: var(--cor-dourado);
}

.perfil-btn-mobile {
   display: none;
}

.perfil-titulo {
    font-family: 'Sans-Italic';
}

#user-icon {
    font-size: 1.6vw;
}

#home-icon {
    display: none;
}

#facebook-icon {
    color: var(--cor-dourado);
    font-size: 2.0vw;
    transition: all 0.2s ease; /* Para uma transição suave */
}

#instagram-icon {
    color: var(--cor-dourado);
    font-size: 2.0vw;
    transition: all 0.2s ease; /* Para uma transição suave */
}

#twitter-icon {
    color: var(--cor-dourado);
    font-size: 2.0vw;
    transition: all 0.2s ease; /* Para uma transição suave */
}

#facebook-icon:hover {
    color: var(--cor-branco);
    font-size: 2.0vw;
    transform: scale(1.2);
}

#instagram-icon:hover {
    color: var(--cor-branco);
    font-size: 2.0vw;
    transform: scale(1.2);
}

#twitter-icon:hover {
    color: var(--cor-branco);
    font-size: 2.0vw;
    transform: scale(1.2);

}

#map-icon {
    font-size: 2.0vw;
    color: var(--cor-dourado);
    transition: all 0.2s ease; /* Para uma transição suave */
}

#map-icon:hover {
    color: var(--cor-branco);
    font-size: 2.0vw;
    transform: scale(1.2);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.link-carrinho {
    display: flex;
    text-decoration: none;
    color: var(--cor-branco);
    align-items: center;
    font-size: 40px;
    padding-right: 40px;
    transition: all 0.2s ease; /* Para uma transição suave */
}

.link-carrinho:hover {
    color: gold; /* Cor ao passar o mouse */
    transform: scale(1.2); /* Aumenta ligeiramente o tamanho */
}

.link-carrinho:hover #cart-count {
    color: gold; /* Cor do span ao passar o mouse */
}

.link-carrinho:hover #cart-icon {
    color: gold; /* Cor do ícone ao passar o mouse */
}

.link-carrinho:hover .carrinho-titulo {
    color: gold; /* Cor do ícone ao passar o mouse */
}

#cart-icon {
    font-size: 1.8vw;
    display: flex;
    align-items: center;
}

.carrinho-quantidade{
    font-size: 1.8vw;
}

.carrinho-titulo {
    display: block;
    font-size: 1.8vw;
    color: var(--cor-branco);
    font-family: 'Sans-Italic';
    padding-left: 10px;
    transition: all 0.2s ease; /* Para uma transição suave */
}

.nav-products {
    display: flex;
    width: 90%;
    align-items: center;
    padding-top: 200px;
}

.nav-products-mobile {
    display: none;
 }
 

.nav-catalogo {
    display: flex;
    width: 50%;
    align-items: center;
    border: 3px solid var(--cor-dourado);
    position:relative;
    top:40px;
    font-size: 2.0vw;
    justify-content: center;
    padding: 30px;
    text-align: center; /* Centraliza o conteúdo */
    transition: all 0.3s ease; /* Para uma transição suave */
}

.nav-catalogo:hover {
    transform: scale(1.2); /* Aumenta a div ao passar o mouse */
}

.btn-catalogo {
    padding: 10px 20px; /* Ajuste o padding conforme necessário */
    background-color: #000; /* Cor de fundo padrão */
    color: #fff; /* Cor da fonte padrão */
    text-decoration: none; /* Remove o underline */
    transition: all 0.3s ease; /* Para uma transição suave */
}

.nav-catalogo:hover .btn-catalogo {
    color: gold; /* Muda a cor da fonte para dourado */
}

.nav-list {
    display: flex;
    gap: 32px;
    font-size: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    background-color: var(--cor-preto);
    justify-content: center;
    border: 2px solid var(--cor-dourado);
}

.nav-list li {
    background-color: var(--cor-preto);
    font-family: 'Sans-Italic';
    padding: 20px;
}

.carrossel-container {
    position: relative;
    overflow: hidden;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.banner {
    position: relative;
    min-width: 95%;
    box-sizing: border-box;
    padding: 40px 20px;
    background-color: var(--cor-preto-claro);
    /* Cor de fundo do banner */
    color: var(--cor-branco);
}   

.banner img {
    width: 95%;
    position: relative;
    left: 40px;
}

.carrossel-controls {
    text-align: center;
    margin-top: 10px;
}

.control-btn {
    background-color: var(--cor-dourado);
    /* Cor dos botões de controle */
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    cursor: pointer;
}

.control-btn.active {
    background-color: var(--cor-preto-claro);
    border-radius: 50px;
    border: 2px solid var(--cor-dourado);
    /* Cor do botão ativo */
}


.carrossel-navigation-left {
        position: absolute;
        top: 50%;
        left: 10px; /* Posiciona a seta à direita */
        transform: translateY(-50%);
        z-index: 10; /* Certifique-se de que esteja acima dos outros elementos */
}
.carrossel-navigation-right{
        position: absolute;
        top: 50%;
        right: 10px; /* Posiciona a seta à direita */
        transform: translateY(-50%);
        z-index: 10; /* Certifique-se de que esteja acima dos outros elementos */
}
    
.prev-btn,
.next-btn {
    background-color: var(--cor-branco);
    /* Cor dos botões de navegação */
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.4rem;
}


.destaques {
    background-color: var(--cor-preto-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: var(--cor-branco);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    gap: 32px;
    border: 2px solid var(--cor-dourado);
}

.marquee-container {
    padding: 20px;
    width: 90%;
    background-color: var(--cor-preto-claro);
}

.marquee {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid gold; /* Borda dourada */
    padding: 20px; /* Padding de 20px */
    font-size: 4.0vw; /* Fonte maior */
    align-items: center;
    background-color: black; /* Fundo do marquee preto */
    color: white; /* Texto branco */
    justify-content: center;
    animation: marquee 20s linear infinite; /* Animação do marquee */
}

body {font-family: Verdana, sans-serif;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: var(--cor-branco);
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

/* Hide all images by default */
.mySlides {
    display: none;
}

.SlideProduto {
    width: 70%;
    border-radius: 20px;
    position: relative;
    left: 140px;
}

/* Next & previous buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px; /* Center the arrows vertically */
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    text-decoration: none;
}

/* Position the "prev" arrow to the left */
.prev {
    left: -50px; /* Position the "prev" arrow outside the image */
}

/* Position the "next" arrow to the right */
.next {
    right: -50px; /* Position the "next" arrow outside the image */
}

/* On hover, show the arrows more clearly */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Dots/circles at the bottom */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Change color of dots on hover */
.dot:hover {
    background-color: #717171;
}

/* Active dot (current slide) */
.active {
    background-color: #717171;
}





.institucional-quem-somos-proposta {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 40px;
    justify-content: space-around;
    gap: 32px;
}

.quem-somos {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 1.6vw;
    border: 2px solid var(--cor-dourado);
    align-items: center;
    background-color: var(--cor-preto-claro);
    padding: 20px;
}

.proposta-site-vendas {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 1.6vw;
    align-items: center;
    border: 2px solid var(--cor-dourado);
    background-color: var(--cor-preto-claro);
    padding: 20px;
}

.nossa-historia-container {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    font-size: 1.6vw;
    background-color: var(--cor-preto-claro);
    padding: 80px;
    gap: 32px;
}

.nossa-historia {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6vw;
    border: 2px solid var(--cor-dourado);
    background-color: var(--cor-preto-claro);
    padding: 40px;
}

.nossa-historia-img {
    padding: 20px;
    background-color: var(--cor-preto-claro);
    padding: 29px;
}

.nossa-historia-img img {
    width: 100%;
    border: 2px solid var(--cor-dourado); 
    padding: 29px;
}

.nossa-missao {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6vw;
    border: 2px solid var(--cor-dourado);
    background-color: var(--cor-preto-claro);
    padding: 40px;
}

.modal {
    display: none;
    /* Escondido por padrão */
    position: fixed;
    /* Fixa o modal na tela */
    z-index: 1000;
    /* Garante que o modal fique acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    /* Largura total */
    height: 100%;
    /* Altura total */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semi-transparente */
}


.modal-content {
    background-color: var(--cor-preto-claro);
    /* Cor de fundo do conteúdo do modal */
    margin: 5% auto;
    /* Margem para centralizar o modal */
    padding: 30px;
    /* Aumenta o espaçamento interno */
    border: 1px solid #888;
    /* Borda */
    width: 90%;
    /* Largura do modal (90% da largura da tela) */
    max-width: 800px;
    /* Largura máxima para telas grandes */
    max-height: 90%;
    /* Altura máxima para evitar que o modal saia da tela */
    overflow-y: auto;
    /* Adiciona rolagem vertical se o conteúdo for muito grande */
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    /* Sombra */
    border-radius: 8px;
    /* Bordas arredondadas */
    color: rgb(255, 255, 255);
    align-items: center;
}

.modal-content button {
    cursor: pointer; /* Cursor pointer para indicar que é clicável */
    float: right; /* Alinha o botão de fechar à direita */
    font-size: 20px; /* Tamanho do botão de fechar */
    color: #ffffff; /* Cor do botão de fechar */
    background-color: rgb(40, 167, 15);
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    border: none;
}

.modal-titulo {
    font-size: 2.0rem;
    color: var(--cor-dourado);
}

.perfil-campos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;

}

.campo-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.campo-perfil input {
    font-size: 1.4rem;
}

.campo-perfil label {
    font-size: 1.4rem;
}



.close-btn {
    cursor: pointer;
    /* Cursor pointer para indicar que é clicável */
    float: right;
    /* Alinha o botão de fechar à direita */
    font-size: 20px;
    /* Tamanho do botão de fechar */
    color: #ffffff;
    /* Cor do botão de fechar */
    background-color: red;
    padding: 20px;
    border-radius: 20px;
    width: 50%;

}

.close-btn:hover,
.close-btn:focus {
    color: rgb(12, 89, 255);
    /* Muda a cor ao passar o mouse ou focar */
    text-decoration: none;
    /* Remove sublinhado */
    cursor: pointer;
    /* Indica que é clicável */
}


.produtos {
    background-color: var(--cor-preto-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: var(--cor-branco);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    gap: 32px;
    border: 2px solid var(--cor-dourado);
}

.destaque-titulo {
    color: var(--cor-branco);
    font-family: 'Sans-Variable';

}

.catalogo-titulo {
    color: var(--cor-branco);
    font-family: 'Sans-Variable';
}


.destaques-bebidas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.destaques-alcoolicas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.destaques-snacks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.destaques-cigarros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.destaques-bebidas ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.destaques-alcoolicas ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.destaques-snacks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.destaques-cigarros ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.card-produto {
    width: 200px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.card-produto img {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    background-color: var(--cor-preto-claro);
    color: var(--cor-branco);
    padding: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
}

.footer-institucional {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logotipo-footer img {
    background-color: var(--cor-preto-claro);
    color: var(--cor-branco);
    padding: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    width: 50%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-container a {
    color: var(--cor-branco);
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-left,
.footer-center,
.footer-right {
    margin-bottom: 20px;
    text-align: start;
}

.footer-left {
    width: 34%;
}

.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
}

.footer-center h4 {
    font-size: 1.8vw;
    width: 100%;
}

.footer-right {
    width: 33%;
    display: flex;
    gap: 64px;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.contato {
    font-size: 1.4vw;
    width: 100%;
}

.contato p {
    font-size: 1.2vw;
}

.endereco {
    font-size: 1.4vw;
    width: 100%;
}

.endereco p {
    font-size: 1.2vw;
}

.endereco a {
    font-size: 1.2vw;
}

@keyframes marquee {
    0% {
        transform: translateX(100%); /* Começa fora da tela à direita */
    }
    100% {
        transform: translateX(-100%); /* Termina fora da tela à esquerda */
    }
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/* Ajuste de Responsividade */

/* Garante que o layout de conteúdo seja em coluna em telas menores */
@media (max-width: 873px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .mobile {
        display: block;
        width: 100%;
        text-align: center;
    }

    .logotipo img {
        width: 60%;
        max-width: 250px; /* Limita o tamanho do logotipo */
    }

    .search-bar {
        width: 100%;
        margin: 10px 0;
    }

    .search-placeholder {
        width: 80%;
        font-size: 1.2rem;
    }

    .perfil-link {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .link-carrinho {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .container {
        padding: 20px;
    }

    .marquee-container {
        text-align: center;
        font-size: 1.2rem;
    }

    .slideshow-container {
        width: 100%;
    }

    .slideshow-container .mySlides img {
        width: 100%;
        height: auto;
    }

    .institucional-quem-somos-proposta {
        flex-direction: column;
        padding: 10px;
    }

    .quem-somos, .proposta-site-vendas {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
        text-align: center;
    }

    .nossa-historia-container {
        flex-direction: column;
        padding: 20px;
    }

    .nossa-historia, .nossa-historia-img {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-institucional {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .footer-left, .footer-center, .footer-right {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-center h4 {
        font-size: 1.4rem;
    }

    .redes-sociais a {
        font-size: 1.5rem;
        margin: 0 10px;
    }

    .endereco a {
        font-size: 1rem;
    }
}

/* Para telas ainda menores (dispositivos com até 650px de largura) */
@media (max-width: 650px) {
    header {
        padding: 10px;
    }

    .logotipo img {
        width: 50%;
        max-width: 180px;
    }

    .search-bar {
        width: 100%;
    }

    .search-placeholder {
        font-size: 1rem;
    }

    .perfil-link, .link-carrinho {
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .nav-catalogo {
        display: none;
    }

    .nav-list-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .slideshow-container .mySlides img {
        width: 100%;
        height: auto;
    }

    .institucional-quem-somos-proposta {
        flex-direction: column;
        padding: 10px;
    }

    .quem-somos, .proposta-site-vendas {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
    }

    .nossa-historia-container {
        flex-direction: column;
        padding: 20px;
    }

    .footer-institucional {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .footer-left, .footer-center, .footer-right {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-center h4 {
        font-size: 1.2rem;
    }

    .redes-sociais a {
        font-size: 1.2rem;
    }
}

/* Para telas extremamente pequenas (como smartphones muito compactos, até 320px) */
@media (max-width: 320px) {
    header {
        padding: 5px;
    }

    .logotipo img {
        width: 50%;
        max-width: 150px;
    }

    .search-placeholder {
        font-size: 1rem;
    }

    .perfil-link, .link-carrinho {
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .slideshow-container .mySlides img {
        width: 100%;
        height: auto;
    }

    .institucional-quem-somos-proposta {
        flex-direction: column;
    }

    .quem-somos, .proposta-site-vendas {
        width: 100%;
        margin-bottom: 10px;
    }

    .footer-institucional {
        flex-direction: column;
        padding: 10px;
    }

    .footer-left, .footer-center, .footer-right {
        width: 100%;
        margin-bottom: 10px;
    }

    .footer-center h4 {
        font-size: 1rem;
    }

    .redes-sociais a {
        font-size: 1.2rem;
        margin: 0 5px;
    }
}
