/*Comandos sem classe*/

:root {
    --cor-dourado: #FFD700; /* Código hexadecimal para dourado */
    --cor-preto: #000000;   /* Código hexadecimal para preto */
    --cor-branco: #FFFFFF;  /* Código hexadecimal para branco */
    --cor-preto-claro: #1f1f1f; 
}

@font-face {
    font-family: 'Sans-Italic';
    src: url('./../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Sans-Variable';
    src: url(./../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--cor-preto);
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 32px;
}

header {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--cor-dourado);
    padding-bottom: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a i {
    font-size: 20px;
}

img {
    width:100%;
}

li {
    list-style-type: none;
}

/*Classificados*/

/*Tela de Login*/
.login-container{ 
    align-items: flex-start;
    background-image: url(../img/Image.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 27rem;
    overflow-y: hidden;
}

.login-button{
    border-radius: 4px;
    background: #FFEA00;
}

.login-title{
    justify-content: center;
    display: flex;
}

.login-links{
    font-size: medium;
    align-items: center;
    color: #3DB4FF;
    margin: auto;
    display: inherit;
    flex-direction: inherit;
}

.form-login{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.6rem;
    border-radius: 10px;
    border: 2px solid #000;
    background: rgba(0, 0, 0, 0.50);
    margin:20px;
    padding: 70px;
}

.login-decoration{
    display: flex;
    width: 720px;
    height: 1024px;
    padding: 242px 95px;
    flex-direction:column;
    align-items: center;
    border: 1px solid #FFEA00;
    background: rgba(91, 91, 91, 0.50);
}

.logotipo {
    display: inline-block;
    width:20%;
    padding-left: 40px;
}

.search-bar {
    display: flex;
    border: 2px solid var(--cor-branco);
    border-radius: 4px; /* Isso arredonda os cantos, opcional */
    width: 30%;
}

.search-placeholder {
    font-size: 1.6rem;
    background-color: var(--cor-branco);
    border: none;
    width: 90%;
}

.search-placeholder::placeholder {
    color: var(--cor-preto);
    font-family: 'Sans-Italic';
}

.botao-enviar {
    width: 10%;
    font-size: 1.0rem;  
    border: none; 
    background-color: var(--cor-branco);
}

.botao-enviar :hover{
    color: var(--cor-dourado);
}

.perfil-link {
    display: flex;
    font-size: 1.2rem;
    width: 10%;
    align-items: center;
    color: var(--cor-dourado);
    gap: 10px;
}

.perfil-btn {
    display: flex;
    background-color: #000000;
    border: none;
    color: var(--cor-dourado);
    align-items: center;
    font-size: 1.4rem;
    width: 100%;
}

.perfil-titulo {
    font-family: 'Sans-Italic';
}

#user-icon {
    font-size: 1.6rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}

.link-carrinho {
    display: flex;
    text-decoration: none;
    color: var(--cor-dourado);
    align-items: center;   
    font-size: 40px;
    padding-right: 40px;
}

#cart-icon {
    font-size: 30px;
    display: flex;
    align-items: center;
   
}

.carrinho-titulo {
    font-size: 20px;
    color: var(--cor-dourado);
    font-family: 'Sans-Italic';
    padding-left: 10px;
}

.nav-products {
    display: flex;
    width: 90%;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 32px;
    font-size: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    background-color: var(--cor-preto);
    justify-content: center;
    border: 2px solid var(--cor-dourado);
}

.nav-list li {
    background-color: var(--cor-preto);
    font-family: 'Sans-Italic';
    padding: 20px;
}

.carrossel-container {
    display: flex;
    flex-direction:column;
    position: relative;
    width: 80%;
    max-width: 1200px; 
    margin: 0 auto;
    background-color: var(--cor-preto-claro); 
    border-radius: 10px;
    padding: 40px;
    overflow:hidden;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.banner {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 60px 40px; 
    background-color: var(--cor-preto-claro);
    color: var(--cor-branco);
    border-top: 2px solid var(--cor-dourado);
    border-bottom: 2px solid var(--cor-dourado);
    font-size: 24px; 
    overflow: hidden;
}

.carrossel-controls {
    text-align: center;
    margin-top: 20px;
}

.control-btn {
    background-color: var(--cor-dourado);
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
}

.control-btn.active {
    background-color: var(--cor-preto);
}


.destaques {
    background-color: var(--cor-preto-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: var(--cor-branco);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    gap: 32px;
    border: 2px solid var(--cor-dourado);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 300px; 
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profile-btn {
    margin: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.produtos {
    background-color: var(--cor-preto-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: var(--cor-branco);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    gap: 32px;
    border: 2px solid var(--cor-dourado);
}

.destaque-titulo {
    color: var(--cor-branco);
    font-family: 'Sans-Variable';
    
}

.catalogo-titulo {
    color: var(--cor-branco);
    font-family: 'Sans-Variable';
}


.destaques-bebidas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.destaques-alcoolicas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.destaques-snacks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.destaques-cigarros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.destaques-bebidas ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.destaques-alcoolicas ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.destaques-snacks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.destaques-cigarros ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.catalogo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.card-produto {
    width: 200px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.card-produto img {
    width: 100%;
    height: auto;
}

footer {
    background-color: var(--cor-preto-claro);
    color: var(--cor-branco);
    padding: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-container a {
    color: var(--cor-branco);
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-left, .footer-center, .footer-right {
    margin-bottom: 20px;
    text-align: center;
}









