:root {
    --cor-dourado: #FFD700; /* Código hexadecimal para dourado */
    --cor-preto: #000000;   /* Código hexadecimal para preto */
    --cor-branco: #FFFFFF;  /* Código hexadecimal para branco */
    --cor-preto-claro: #2e2e2e; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #000000;
    flex-direction: column;
    color: white;
    align-items: center;
}

header {
    width: 100%;
    height: fit-content;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

a i {
    font-size: 20px;
}

img {
    height: 80%;
    width: 25%;
}

li {
    list-style-type: none;
}

.logotipo {
    display: flex;
    width: 60%;
    gap: 64px;
}

.link-carrinho {
    display: flex;
    text-decoration: none;
    color: goldenrod;
    align-items: center;   
}



